/* postingan.css */

.postingan-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-left: 1rem;
}

.form-container {
  border: 1px solid #e2e8f0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  background-color: #ffffff; /* Add background color for better visual separation */
  padding: 1.5rem; /* Add more padding for better spacing */
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Ensure it's on top of other elements */
}

.popup-content {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.popup-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.popup-content .success-icon {
  font-size: 40px;
  color: #0f1e49;
  margin-bottom: 20px;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #18195e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #45454e;
}


form {
  display: grid;
  gap: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.label-input {
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
}

.input-field,
.textarea-field,
.file-input {
  width: 100%;
  padding: 1rem; /* Increase padding for better input field appearance */
  border: 1px solid #d2d6dc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.textarea-field {
  resize: vertical;
}

.submit-button {
  width: 100%;
  background-color: #233349;
  color: #ffffff;
  cursor: pointer;
  padding: 1rem;
  border: none; /* Remove border for cleaner appearance */
  border-radius: 0.25rem;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.submit-button:hover {
  background-color: #2779bd;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
  .title {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .input-field,
  .textarea-field,
  .file-input {
    font-size: 0.875rem;
  }
}
