.login form div {
  display: flex;
}
.login textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}
.login input {
  margin-bottom: 20px;
  margin-right: 10px;
}
.login form {
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .login h4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .login form div {
    flex-direction: column;
  }
  .login input {
    width: 100%;
  }
}

.link-btn2 {
  background: none;
  color: rgb(19, 6, 6);
  
}
