/* Gaya dasar untuk footer */
.footer {
  background-color: #ffffff;
  padding: 50px 0;
  color: #000000;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Mengizinkan wrap pada flex items */
}

.box {
  margin-right: 20px;
  margin-bottom: 20px; /* Menambahkan jarak bawah antara box */
}

.footer-content {
  max-width: 400px;
}

.footer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 14px;
  color: #666666;
}

.legal {
  text-align: center;
  padding: 20px;
  background: #0e0c33e4;
  color: #ffffff72;
  border-top: 1px solid #dddddd;
}

/* Responsif pada layar kecil */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Mengubah orientasi menjadi vertikal pada layar kecil */
    align-items: center; /* Pusatkan item secara horizontal */
  }

  .box {
    margin-right: 0; /* Hilangkan margin kanan */
    margin-bottom: 30px; /* Tambahkan jarak bawah yang lebih besar */
    text-align: center; /* Pusatkan konten pada layar kecil */
  }
}
